<mat-card class="card-item green">
  <mat-card-header>
    <mat-card-title>Emprestimo</mat-card-title>
    <span class="material-icons">attach_money</span>
  </mat-card-header>
  <mat-card-content>
    <p><span>Valor</span>: R$1200,00</p>
    <p><span>Data</span>10/05/2023</p>
    <p><a href="#">comprovante</a></p>
  </mat-card-content>
  <mat-card-actions>
    <button mat-raised-button color="primary">Editar</button>
    <button mat-raised-button color="warn">Excluir</button>
  </mat-card-actions>
</mat-card>
