<div>
  <form class="form-login">
    <h1>Registrar</h1>
    <mat-form-field class="field-email" appearance="outline">
      <mat-label>Digite seu nome</mat-label>
      <input matInput type="text" />
    </mat-form-field>

    <mat-form-field class="field-password" appearance="outline">
      <mat-label>Digite seu E-mail</mat-label>
      <input matInput type="text" />
    </mat-form-field>

    <mat-form-field class="field-password" appearance="outline">
      <mat-label>Digite sua senha</mat-label>
      <input matInput type="password" />
    </mat-form-field>

    <button mat-raised-button>Enviar</button>
  </form>
</div>
