<div>
  <form class="form-login" [formGroup]="form">
    <h1>Registrar</h1>
    <mat-form-field class="field-email" appearance="outline">
      <mat-label>Digite seu nome</mat-label>
      <input matInput type="text" formControlName="name" />
    </mat-form-field>

    <mat-form-field class="field-password" appearance="outline">
      <mat-label>Digite seu E-mail</mat-label>
      <input matInput type="text" formControlName="email" />
    </mat-form-field>

    <mat-form-field class="field-password" appearance="outline">
      <mat-label>Digite sua senha</mat-label>
      <input matInput type="password" formControlName="password" />
    </mat-form-field>

    <button mat-raised-button (click)="salvar()" [disabled]="!form.valid">Enviar</button>
    <a (click)="voltar()">Voltar para o Login</a>
  </form>
</div>
