div {
  width: 100vw;
  height: 100vh;
  background-color: #6d7a8a;
  display: flex;
  justify-content: center;
  align-items: center;
  .form-login {
    width: 30%;
    height: 60%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #fff;
    border-top: 10px solid #1ca39c;
    border-radius: 5px;

    h1 {
      text-align: center;
    }
    mat-form-field {
      padding: 10px 0;
      margin: 0 10px;
    }

    button {
      background-color: #1ca39c;
      color: #fff;
      padding: 25px 0;
      margin: 0 10px;
      font-size: 1.2rem;
    }
    p {
      padding: 10px 0;
      margin: 10px 10px;
    }
  }
}
