<h1 mat-dialog-title>Adicionar novo item</h1>
<div mat-dialog-content>
  <form class="add-item" [formGroup]="form" (ngSubmit)="salvar()">
    <mat-form-field class="nome-item" appearance="outline">
      <input type="text" matInput placeholder="Digite o nome do item.:" formControlName="name" autocomplete="false">
    </mat-form-field>
    <mat-form-field class="money-item" appearance="outline">
      <input type="text" matInput placeholder="Digite o valor do item.:" formControlName="money" autocomplete="false">
    </mat-form-field>
    <mat-form-field class="data-item" appearance="outline">
      <input type="date" matInput [matDatepicker]="picker" formControlName="date" placeholder="Selecione a data.:">
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>
    <mat-radio-group aria-label="Selecione uma opção" formControlName="type">
      <mat-radio-button value="1">Receita</mat-radio-button>
      <mat-radio-button value="2">Despesa</mat-radio-button>
    </mat-radio-group>
    <div class="action">
      <button type="submit" mat-raised-button color="primary">Salvar</button>
      <button type="button" mat-raised-button>Cancelar</button>
    </div>
  </form>
</div>

