.div-finance {
  width: 100vw;
  height: 100vh;
  background-color: #6d7a8a;
  display: flex;
  flex-direction: column;
  h1 {
    text-align: center;
    padding-top: 20px;
  }
  .menus {
    display: flex;
    justify-content: space-between;
    margin: 0 10px;
    .add-item {
      display: flex;
      justify-content: space-between;
      margin: 10px;
      mat-form-field {
        font-size: 12px;
      }
    }
  }
  .list-itens {
    margin: 0px 10px;
  }
  .total {
    display: flex;
    justify-content: space-between;
    margin: 10px;
    padding: 0 5px;
    font-size: 1.2rem;
    border: 1px solid #fff;
  }
}
td {
  font-size: 20px;
}

.verde {
  background-color: #00ff00;
}

.vermelho {
  background-color: #ff0000;
}

.curso-pointer {
  cursor: pointer;
}
