<div class="div-finance">
  <h1>Sistema de finanças</h1>
  <div class="add-item">
    <button mat-raised-button color="primary" (click)="addItem()">Adicionar item</button>
  </div>
  <div class="list-itens">
    <app-card-item></app-card-item>
    <app-card-item></app-card-item>
    <app-card-item></app-card-item>
    <app-card-item></app-card-item>
    <app-card-item></app-card-item>
    <app-card-item></app-card-item>
  </div>
  <div class="total"><span>Total: </span><span>R$ 6000,00</span></div>
</div>
